<li class="z-depth-1">
  <%= image_tag slide.image %>
  <div class="caption left-align">
    <h3><%= slide.title %></h3>
    <h5 class="light grey-text text-lighten-3"><%= slide.text %></h5>
  </div>
</li>