<h3>
	Получен заказ от клиента <%= @order.name.to_s %>
</h3>

<table>
	<thead>
    	<tr>
    		<th></th>
        	<th data-field="title">Товарная позиция</th>
        	<th data-field="quantity">Количество</th>
        	<th data-field="price">Цена</th>
    	</tr>
    </thead>
	<%= render @order.line_items -%>
</table>