<h3>
	Уважаемый(ая) <%= @order.name || 'клиент' %>
</h3>

<p>
	Администрация интернет магазина "Спорт-юниор" благодарит Вас за недавний заказ.<br>
	Вы заказали следующий товар:
</p>

<table>
	<thead>
    	<tr>
    		<th></th>
        	<th data-field="title">Товарная позиция</th>
        	<th data-field="quantity">Количество</th>
        	<th data-field="price">Цена</th>
    	</tr>
    </thead>
	<%= render @order.line_items -%>
</table>

Когда Ваш заказ будет отправлен, мы вышлем Вам по электронной почте отдельное сообщение.