/*
$links_color: #888785;
$thumbnail-border: #fff;
$thumbnail-caption-color: $links_color;
$navbar-default-link-hover-color: #a2cc01;
$navbar-default-link-color: $links_color;
$navbar-default-bg: #fff;
$navbar-default-border: #fff;
*/
@import "materialize/components/color";
$primary-color: color("cyan", "lighten-2") !default;
$price-color: color("pink", "accent-2");
$attributes-color: color("grey", "darken-1");

@import "materialize/components/variables";
.card {
	.card-action {
		height: 85px;
	}
	.card-image {
  		height: 215px !important;
  	}
}

main {
	min-height: 400px;
	padding-top: 50px;
}

hr {
	opacity: 0.2;
	margin-top: 15px;
	margin-bottom: 15px;
}
.plus-wrapper {
	height: 2.5rem;
}
.card-image .product-image {
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; 
}
.price {	
	color: $price-color;
	&.showcase {
		position: absolute;
		right: 20px;
	}
}
.modal-cart-trigger .new .badge {
	line-height: 20px;
	min-width: auto;
	left: 35px;
	top: 5px;
}
#cart-badge {
	span.badge.new {
		line-height: 20px;
		min-width: auto;
		left: 35px;
		right: auto;
		top: 5px;
		
		&:after {
    		content: "";
    	}
	}
}
#plus-price {
	span.badge.new {
		position: static;
		font-size: 1rem;
		&:after {
    		content: "";
    	}
	}
}
#cart {
	.collection-item-cart {
		position: relative;
		padding-left: 135px;
		li {
			color: $attributes-color;
			font-size: 0.9rem;
		}
		.collection-item-container {
			min-height: 80px;
		}
	}
	.collection-image-cart {
		position: absolute;
		left: 15px;
	}
}
.cart-image {
	object-fit: contain;
	-o-object-fit: contain;
	width: 200px;
	&.collection-image-cart {
		width: 100px;
	}
}
.header {
    color: #ee6e73;
    font-weight: 300;
}