@import "materialize/components/color";
$primary-color: color("cyan", "darken-1") !default;
// $price-color: color("pink", "accent-3");
$price-color: color("red", "accent-3");
$attributes-color: color("grey", "darken-1");
$error-color: color("red", "accent-2");
$input-placeholder-color: color("blue-grey", "lighten-5");
$dashboard-sidenav-links-color: #ee6e73;
$warning-color: color("orange", "accent-3");
$header-color: color("red", "lighten-3");
$bg-color: color("blue-grey", "lighten-5");

@import "materialize/components/variables";
.card {
	.card-action {
		height: 85px;
	}
	.card-image {
  		height: 215px !important;
  	}
}

header, main, footer {
    padding-left: 240px;
    .container {
    	width: 90%;
    }
}

header {
	.dashboard {
		a {
			color: $dashboard-sidenav-links-color !important;
		}
	}
	nav .input-field input {
		font-size: 1.1rem;
	}
	ul.search-box {
    	width: 300px;
    	li {
    		width: 100%;
    		#search {
    			width: 90%;
    			&:focus {
					border: none;
					box-shadow: initial;
				}
    		}
    	}
	    // placeholder styles
		::-webkit-input-placeholder {color: $input-placeholder-color;}
		::-moz-placeholder          {color: $input-placeholder-color;}/* Firefox 19+ */
		:-moz-placeholder           {color: $input-placeholder-color;}/* Firefox 18- */
		:-ms-input-placeholder      {color: $input-placeholder-color;}

		#search::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.5s ease;}
		#search::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;}
		#search::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;}
		#search::-ms-input-placeholder           {opacity: 1; transition: opacity 0.5s ease;}
		#search:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
		#search:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.5s ease;}
		#search:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.5s ease;}
		#search:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.5s ease;}
    }
}

li.logo, .cart-container {
	height: 64px;
	a {
		line-height: 64px;
	}
}

@media only screen and (max-width: 992px) {
	header, main, footer {
  		padding-left: 0;
  		
	}
}
@media only screen and (min-width: 1280px) {
	header {
		ul.search-box {
			width: 600px;
		}
	}
}

main {
	min-height: 400px;
	padding-top: 50px;
}

body {
	background-color: $bg-color;
	.material-placeholder {
		background-color: $bg-color;
	}
	.gallery {
		background-color: transparent;
	}
	table {
		background-color: #fff;
		td {
			padding: 20px;
		}
	}
	.list-container {
		background-color: #fff;
		padding: 20px;
	}
}

hr {
	opacity: 0.2;
	margin-top: 15px;
	margin-bottom: 15px;
}
.plus-wrapper {
	height: 2.5rem;
}
.card-image .product-image {
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center; 
}
.price {	
	color: $price-color;
	&.showcase {
		position: absolute;
		right: 20px;
	}
}
.modal-cart-trigger .new .badge {
	line-height: 20px;
	min-width: auto;
	left: 35px;
	top: 5px;
}
#cart-badge {
	span.badge.new {
		position: absolute;
		line-height: 20px;
		min-width: auto;
		left: 35px;
		right: auto;
		top: 5px;
		background-color: $header-color;
		
		&:after {
    		content: "";
    	}
	}
}
#plus-price {
	span.badge.new {
		position: static;
		font-size: 1rem;
		&:after {
    		content: "";
    	}
	}
}
#cart, #order-table {
	.collection-item-cart {
		position: relative;
		padding-left: 135px;
		li {
			color: $attributes-color;
			font-size: 0.9rem;
		}
		.collection-item-container {
			min-height: 80px;
		}
	}
	.collection-image-cart {
		position: absolute;
		left: 15px;
	}
}
.cart-image {
	object-fit: contain;
	-o-object-fit: contain;
	width: 200px;
	&.collection-image-cart {
		width: 100px;
	}
}
.remove-line-item {
	color: $error-color;
}
.header {
    color: $header-color;
    font-weight: 300;
}
main {
	min-height: 650px;
}
#error_explanation {
	color: $error-color;
}
#paginator {
	width: 220px;
	margin: 0 auto;

	ul.pagination {
		height: 30px;

		li {
			a {
				color: $warning-color;
			}
		}
		.active {
			color: white;
		}
	}
}
.fa-3 {
	font-size: 3em;
}
.fa-2 {
	font-size: 2em;
}
.fa-1 {
	font-size: 1em;
}
.table-action {
	width: 10px;
}
.order-button {
	background-color: $secondary-color;
}
.col-gallery {
	height: 520px;
}
.select2.select2-container {
	width: initial !important;
}

.slides {
	.caption {
		background-color: color("cyan", "darken-2");
		padding: 20px;
		opacity: 0.6 !important;
	}
}

.object-brand {
	padding-top: 6px;
}

object{
    pointer-events: none;
}