<h2 class="header">О компании</h2>
<br>

<p class="flow-text">
Наша компания занимается реализацией детских спортивных комплексов для детей от 1 года. У нас вы найдете то, что понравится вашим детям! Благодаря широкому выбору комплексы можно подобрать исходя из предпочтений вашего ребенка.
Качественные, безопасные комплексы для улицы сделают лето вашего ребенка насыщенным и спортивным!
Комплекс для дома позволит поддерживать и развивать форму, ведь спорт очень важен в жизни детей.<br>
Спортивное детство - залог здоровья в будущем!
</p>
<p class="flow-text">
Комплексы изготавливаются отечественными производителями. Поставляются в разобранном упакованном виде, легко поместятся в багажник.
Доставка осуществляется транспортными компаниями по всей территории РФ.
</p>
<p class="flow-text">
Несколько причин купить комплекс у нас:<br>
1. Мы работаем напрямую с производителем. Цены на производимые товары у нас значительно ниже рыночных.<br>
2. Долговечная покраска. Все изделия окрашиваются качественной порошковой краской, по новейшим европейским технологиям - краска не скалывается и не отслаивается.<br>
3. Товар сертифицирован. Все комплексы прошли сертификацию качества и соответствуют техническим условиям ТУ-9610-001-0182730360-2013.<br>
4. Подробная инструкция. К каждому ДСК прилагается подробная инструкция по пошаговой сборке комплекса своими руками.<br>
5. Компактная и прочная упаковка. Продукцию мы отправляем в специальной упаковке из плотного картона. Размер упаковки: 90х35х13 см - легко помещается в багажнике любого автомобиля.<br>
6. Высокая прочность. Для изготовления ДСК применяются трубы с толщиной стенки 1,5-2 мм. Комплексы с легкостью выдержат даже взрослого человека.<br>
7. 100% избежание травм. Специальные рифленые ступеньки уменьшают скольжение. На шведской лестнице отсутствуют выступающие крепежные заглушки - Ваш ребенок не поцарапается и не порежется.<br>
8. Гарантия качества. На всю нашу продукцию мы даем гарантию 1 год. При выявлении дефектов, поломке деталей - бесплатно заменим их на новые.<br>
9. Возможность дооснастить ДСК. В любое время Вы можете дооснастить Ваш спортивный комплекс дополнительным оборудованием и секциями.<br>
10. Мы вернем Вам деньги. Если Вам попался некачественный товар, мы обменяем его на товар надлежащего качества или вернем Вам деньги.
</p>
<br>