<%
meta keywords: ["Детские спортивные комплексы", "детские снаряды", "для дома", "для улицы", "для дачи"]
%>


<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<% unless @store %>
  <%= render "slider" unless @slides.empty? %>
<% else %>
  <% breadcrumb :category, @products.first.categories.first unless @products.empty? %>
<% end %>

<div class="row" style="margin-top: 50px;">
  <div id="products">
    <%= render partial: "store/product", collection: @products %>
  </div>
</div>

<div id="paginator" class="center-paginator">
  <%= paginate @products %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  //  $(document).on('ready page:load', function() {
    if (!$('.slider').hasClass('initialized')){
		  $('.slider').slider();
    }
	});
</script>