<h2 class="header">Оплата и доставка</h2>
<br>

<p class="flow-text">
Изготовление и доставка осуществляется в течение 7-14 дней после поступления оплаты.<br>
Изготовление деревянных комплексов может занять дополнительное время, уточняйте у менеджера.<br>
Для оплаты на указанный вами email высылается квитанция.<br>
Внимание! Банки могут взимать комиссию!<br>
Доставка осуществляется транспортной компанией DPD.
</p>