<p class="flow-text">Изготовление и доставка осуществляется в течение 7-14 дней после поступления оплаты.<br>
Оплата производится на расчетный счет фирмы.<br>
Для заказа нужны ваши ФИО, контактный телефон, паспортные данные, город.
</p>