<li class="logo">
  <%= link_to "Logo", store_path, id: "logo-container", class: "brand-logo center-align" %>
</li>
<li>
  <a href="#">Подобрать обои</a>
</li>
<li>
  <a href="#">Подобрать обои</a>
</li>
<li>
  <a href="#">Подобрать обои</a>
</li>